* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-div {
  height: 100%;
  width: 100%;
}

.head-nav {
  background-color: #1d344d;
  color: #fff;
  display: flex;
  justify-content:  space-between;
  align-items: center;
  height: 3rem;
}

.heading > h4  {
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  padding: 3px;
}

.heading > h4:hover {
  color:  #426285;
}

.second-head {
  display: flex;
  align-items: center;
  justify-content:  space-between;
}

.input {
  height: 37px;
  border-radius: 11px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  color: grey;
  padding-top: 2px;
  padding-left: 12px;
  padding-right: 12px;
  align-items: center;
  border: 1px solid  rgba(255, 255, 255, 0.75);;
}

.second-head > h4 {
  padding-right: 20px;
}

.main-page {
  width: 100%;
}
.america {
  background-image: url('../image/american-flag.webp');
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

  /* Set the height and position of the element */
  height: 70px;
  position: relative;

  background-repeat: no-repeat;
 
}

.papa {
  height: 35vh;
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid  rgb(44, 41, 41), rgba(8, 8, 8, 0);

  
}

.amer {
  background-image: linear-gradient(to bottom, rgb(24, 27, 54), rgba(118, 152, 224, 0));
  height: 9rem;
  position: relative;
  top: 35%;
  
}

.amer .color {
  color: #F4C182;    
  font-style: italic;
  font-weight: normal;
  padding-right: 0.5rem;
  text-transform: lowercase;
}

.amer .white {
  color: #fff;
  padding-right: 0.5rem;
  font-size: 2rem;
}

.amer > h1 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-weight: 700;
  font-size: 2rem;
  word-spacing: 0.4rem;
}

.big-box {
  background-color: #172a3e;
  height: 30vh;
  width: 95vw;
  border-radius: 5px;
  margin: 3rem 0.5rem 1rem 1.2rem;
}

.big-house {
  display: flex;
  justify-content: space-around;
  color: #fff;
  list-style: none;
  padding-top: 7rem;
  align-items: center;
}

.big-house b {
  font-size: 4.5em;
  letter-spacing: 1.5px;
}

.big-house .house:first-child, .big-house .house:nth-child(4) {
  color: #6699cc;
}

.house .blue, .house .red, .house .yel {
  color: #fff;
  font-size: 1.5rem;
}

.big-house .house:nth-child(2) {
  color: #EE3124;
}

.biggy b {
  color: #EE3124;
  font-size: 45px;
}

.big b {
  color: #6699cc;
  font-size: 40px;
 
}


.big-house .house:nth-child(3) {
  color: #f1b03b;
  font-size: 15px;
}

.yellow b {
  font-size: 40px;
  line-height: 0.5px;
}

.bigyel b{
  color: #fff;
  font-size: 1.5rem;
}

.hoho b {
  font-size: 40px;
}

.fix-fix {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-left: 30px;
  margin-top: 40px;
  gap: 6px;
  margin-right: 20px;
 
}

.fix-fix img {
  border-radius: 8px;
}

.third-div {
  display: grid;
  grid-template-columns: 60% 38%;
  gap: 0;
  margin-top: 2rem;
  height: auto; 
}

.flex-pic {

  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: 97%;
  height: 100%;
  background-color: rgba(212, 212, 221, 0.667);
}

.flex-pic img {
  width: 97%;
  height: 83vh;
  margin-left: 25px;
  border-radius: 5px;
}

.flex-pic h2 {
  position: absolute;
  top: 2rem;
  color: white;
  z-index: 2;
  left: 3.5rem;
  font-size: 3rem;
}


.blue-black {
  background-color:  #172a3e;
  height: 83.5vh;
  border-radius: 5px;
}

.put-first {
  position: absolute;
  bottom: 90px;
  left: 73px;
  z-index: 1;
}

.put-first img {
  height: 25vh;
  
}

.put-first p {
  color: #04264b;
  font-size: 1.6rem;
}

.blue-black h2 {
  color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    
}


.ameri {
  background-image: linear-gradient(to bottom, rgb(44, 41, 41), rgba(8, 8, 8, 0));
    height: 9rem;
    position: relative;
    bottom: 30px;
  
}

.about {
  background-image: linear-gradient(  #6b9bce,#1d344d, #6b9bce, #063c77) ;
  width: 100%;
}

.about-boxing {
  width: 100%;
}

 .about-text {
  width: 35%;
   background-color: #172a3e;
  border: 1px solid #172a3e;
} 

.about-text > p {
  color: #f2f2f2;
 font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
 font-size: 16px;
 font-weight: 600;
 word-spacing: 1px;
 padding: 10px;
 line-height: 1.5rem;
}


.about-grid {
  width: 62%;
  height: 90vh;
}

.strong {
  font-size: 19px;
    font-weight: 600;
    word-spacing: 1px;
}

.about > h1 {
  font-size: 3em;
    color: white;
    padding: 0px 0 0 2rem;
}

.unordered-list {
  list-style-type: disc;
  padding-left: 1.3rem;
}

.nav-links {
  display: flex;
    justify-content: right;
    top: 0;
    left: -100%;
    width: 100%;
    height: 50px;
}


.link-link {
  padding-right: 31px;
  padding-left: 31px;
    color: white;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    display: block;
    animation-name: slidein;
    animation-duration: 3s;
   
}

.link-link:hover {
  border-bottom: 3px solid #063c77;
  transition: border 1s ease-in-out;

}

@keyframes slidein {
  from {
    margin-left: 70%;
   
  }

  to {
    margin-left: 0%;
    
  }
}


/* styles for image flips */

.book {
  position: relative;
  border-radius: 10px;
  width: 240px;
  height: 260px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-image: linear-gradient( #84b1e2,#203e5e, #77a8dd, #063c77);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

feImage {
  width: 20%;
  height: 20%;
}

.flip-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;

}

.eating {
  width: 98%;
  height: 98%;
}

.leading1 {
  width: 97%;
  height: 70%;
}

.leading2 {
  width: 97%;
  height: 70%;
}

.leading3 {
  width: 97%;
  height: 70%;
}

.cover > p {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}

.cover-location {
  background-color: #172a3e;
  height: 8rem;
  width: 97%;
  border-radius: 4px;
  margin-top: -4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid #04488b;
}

.cover-location:hover {
  background-color: #fff;
  color: #172a3e;
  border-bottom: 10px solid #f1b03b
}

.cover-location h4 {
  padding-bottom: 0.3rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.fix-cover {
  width: 15rem;
}

.footer {
  background-color: #bfbfbf;
  height: 20rem;
}

.blue-black img {
  width: 100%;
  border-radius: 160px;
  position: relative;
  top: 35rem;
}

.foot {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

.foot > img {
  width: 12%;
  border-radius: 16px;
  
}

.footer > p {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;

}

.fallen {
  height: 45vh;
}


.media-media {
 display: flex;
 margin-left: 0.5rem;

}

.media-media > img {
  width: 6%;
  margin-left: 10px;
  border-radius: 12PX;
  
}

.media-m {
  display: flex;
}

.media-m p {
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  width: 48%;
}


.fallen-logo {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-right: 1rem;
}

.fisher-list {
  display: flex;
  justify-content: space-between;
  color: #fff;
  position: relative;
  top: 8rem;
  right: 5rem;
  gap: 3rem;

}

.fisher-fish > h2 {
  margin-bottom: 1rem;
  font-size: 28px;
  font-weight: 700;
}

.fisher-fish > ul {
  list-style-type: none;
  
}

.fisher-fish > ul > li {
  padding-bottom: 0.8rem;
  font-size: 15px;
  font-weight: 600;
}

.fisher-fish > ul > li:hover {
  color: #429af8;
  background-color: #d5d8db;
  border: 1px solid #d5d8db;
  border-radius: 11px;
  padding-top: 10px;
  padding-left: 5px;
}

.hands {
  font-weight: 700;
  font-size: 20px;
}


.add-img {
  width: 30%;
  /* padding-top: -1.5rem; */
}

video {
  margin-left: 1rem;
  border: 2px solid rgba(163, 163, 219, 0.5);
  border-radius: 150px;

}

.add-img img {
  width: 65%;
  margin-top: -1.5rem;
  margin-left: 2rem;
  border-radius: 150px;
  box-shadow: 
  -4px -4px 4px 4px rgba(163, 163, 219, 0.5), /* top left */
   4px -4px 4px 4px rgba(112, 112, 187, 0.5), /* top right */
   -4px 4px 4px 4px rgba(163, 163, 219, 0.5), /* bottom left */
   4px 4px 4px 4px rgba(112, 112, 187, 0.5); /* bottom right */
}

.submit-button {
  display: inline-block;
  width: 7rem;
  height: 2.5rem;
  border-radius: 10px;
  border: 2px solid #f1b03b;
  color: #f1b03b;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
  font-size: 20px;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  top: 1rem;
  left: 1.5rem;
 }

 .submit-button:hover {
  color: #1f1c1c;
  font-size: 20px;
  margin-left: 10px;
 }
 
 .submit-button::before,
 .submit-button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
  color: #1f1c1c;
 }
 
 .submit-button::before {
  left: -10px;
  background-color: #f1b03b;
  color: #1f1c1c;
  
 }
 
 .submit-button::after {
  right: -10px;
  background-color: #c58205;
  color: #1f1c1c;
 }
 
 .submit-button:hover::before,
 .submit-button:hover::after {
  width: 58%;
 }
 
 .submit-button:hover span {
  color: #e0aaff;
  transition: 0.3s;
  color: #1f1c1c;
 }
 
 .submit-button span {
  background-color: #f1b03b;
  font-size: 18px;
  transition: all 0.3s ease-in;
  color: #1f1c1c;
 }

 
 @media screen and (max-width: 768px) {
  .head-nav {
  flex-direction: row;
  height: auto;
  width: 70%;
  }

  .house .blue, .house .red, .house .yel {
  color: #fff;
  font-size: 1rem;
  }

  .fallen {
  height: 95vh;
  }
  
  .heading > h4 {
  margin-left: 15px;
  margin-bottom: 5px;
  }

  .cover-location p { 
    width: 90%;
  }
  
  .second-head {
  flex-direction: row;
  align-items: stretch;
  }
  
  .input {
      height: 25px;
      border-radius: 11px;
      margin-right: 9px;
      background-color: rgba(255, 255, 255, 0.75);
      color: grey;
      padding-top: 0px;
      padding-left: 3px;
      padding-right: 3px;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, 0.75);
  }
  
  .big-box {
  margin-left: 0;
  }
  
  .big-house {
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  }
  
  .big-house b {
  font-size: 3em;
  }
  
  .big-house .house:first-child,
  .big-house .house:nth-child(4) {
  color: #6699cc;
  padding-bottom: 0.5rem;
  }
  
  .big-house .house:nth-child(2) {
  color: #EE3124;
  padding-bottom: 0.5rem;
  }
  
  .big-house .house:nth-child(3) {
  color: #f1b03b;
  font-size: 12px;
  }
  
  .biggy b {
  font-size: 2rem;
  }
  
  .big b {
  font-size: 30px;
  }
  
  .yellow b {
  font-size: 30px;
  }
  
  .bigyel b {
  font-size: 15px;
  }
  
  .hoho b {
  font-size: 30px;
  }

  .third-div {
    display: flex;
    margin-top: 2rem;
    width: 100%;
    }
    
    .flex-pic img {
    width: 100%;
    height: 100%;
    margin-left: 0;
    }
    
    .flex-pic h2 {
    position: absolute;
    color: white;
    z-index: 2;
    left: 0rem;
    top: 0rem;
    font-size: 1.2rem;
    }
    
    .blue-black {
    height: auto;
    width: 49%;
    }
    
    .put-first {
    position: static;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin-top: 1rem;
    }
    
    .blue-black img {
    height: auto;
    width: 100%;
    border-radius: 140px;
    position: initial;
    }

    .add-img {
    width: 45%;
    }
    
   .put-first p {
    position: absolute;
    left: 20px;
    bottom: 7px;
    font-size: 0.8rem;
    }
    
    .blue-black h2 {
    font-size: 1.3rem;
    padding: 1rem;
    }
    
    .about {
    height: auto;
    width: 70%;
    }
    
    .about-boxing {
    width: 100%;
    }
    
    .about-text {
    width: 100%;
    margin-top: 1rem;
    }
    
    .about-grid {
    width: 100%;
    height: auto;
    }
    
    .about > h1 {
    font-size: 2em;
    padding: 1rem;
    text-align: center;
    }
    
    .nav-links {
    display: none;
    }
    
    .link-link {
    padding: 1rem;
    font-size: 20px;
    text-align: center;
    display: block;
    }
    
    .book {
      width: 100%;
      height: auto;
    }
    
    .cover {
      background-image: linear-gradient(#84b1e2, #203e5e, #77a8dd, #063c77);
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
    
    .cover:hover {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
    
    .cover-location {
      height: 90%;
      font-size: 16px;
    }
    
    .cover-location h4 {
      font-size: 16px;
      width: 66%;
    }
    
    .media-media > img {
      width: 10%;
    }
    
    .add-img img {
      width: 100%;
      margin-left: 1rem;
      margin-top: 0;
      top: 123px;
    }

  .media-m {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  
  }

  
    .submit-button {
      width: 100%;
      margin: 1rem 0;
      display: inline-block;
      height: 2rem;
      border-radius: 10px;
      border: 2px solid #f1b03b;
      color: #f1b03b;
      position: relative;
      left: 9rem;
      top: 1rem;
      bottom: 60px;
      overflow: hidden;
      transition: all 0.5s ease-in;
      z-index: 1;
      font-size: 0.8rem;
      background-color: #fff;
      text-decoration: none;
      text-align: center;
      padding-top: 8px;
    }

    video {
      margin-left: 2rem;
      width: 15%;
      height: 24%;
      border: 2px solid rgba(163, 163, 219, 0.5);
      border-radius: 150px;
  }

  .papa {
    height: 26vh;
    background-position: initial;
    background-size: 70% auto;
    background-repeat: no-repeat;
    width: 100%;
  }

  .fisher-fish > h2 {
    font-size: 1.7rem;
  }
  

  .amer {
    background-image: linear-gradient(to bottom, rgb(24, 27, 54), rgba(118, 152, 224, 0));
    height: 10rem;
    position: absolute;
    top: 25%;
    width: 70%;
  }

  .main-div {
    height: 100%;
    width: 100%;
  }

  .america {
    width: 70%;
    height: 1rem;
  }

  .amer > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding-top: 0rem;
    font-weight: 700;
    font-size: 1.5rem;
    word-spacing: 0.5rem;
    width: 99%;
  }

  .amer .white {
    color: #fff;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    font-size: 1.5rem;
    display: flex;
  }

  .fix-fix {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, 1fr);
    gap: 2px;
   
  }

  .fix-cover {
    width: 84%;
  }

  .big-box {
    background-color: #172a3e;
    height: 35vh;
    width: 70vw;
    border-radius: 5px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(212, 212, 221, 0.667);
  }
  
  .ameri {
    background-image: linear-gradient(to bottom, rgb(44, 41, 41), rgba(8, 8, 8, 0));
    height: 3rem;
    position: relative;
    bottom: 30px;
    width: 70%;
  }

  .footer {
    background-color: #bfbfbf;
    height: 20rem;
    width: 70%;
  }

  .footer > p {
    text-align: center;
    font-size: 13px;
    margin-top: 40px;
  }

  .media-m p {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    width: 60%;
  }

  .media-media {
  display: flex;
  margin-left: 1.6rem;
  padding-top: 0.7rem;
  }

  .fisher-list {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(0, 1fr);
    padding-top: 1.5rem;
    color: #fff;
    position: relative;
    top: 8rem;
    right: 2rem;
    gap: 0.5rem;
  }

  .fisher-fish .hands {
    display: none;
  }

  }


  
   @media screen and (min-width: 1024px) {
    .papa {
      height: 100vh;
    }

    .amer {
      top: 55%;
    }

    .cover-location h4 {
      font-size: 1.1rem;
    }

    .big-house {
      padding-top: 1rem;
    }

    .blue-black img {
      width: 19rem;
      border-radius: 150px;
      position: relative;
      top: 75px;
      display: block;
      margin: 0 auto;
      box-shadow: -4px -4px 4px 4px rgba(163, 163, 219, 0.5), /* top left */
       4px -4px 4px 4px rgba(112, 112, 187, 0.5), /* top right */ 
       -4px 4px 4px 4px rgba(163, 163, 219, 0.5), /* bottom left */ 
       4px 4px 4px 4px rgba(112, 112, 187, 0.5);
    }

    .media-m p {
      color: #fff;
      font-weight: 500;
      font-size: 27px;
      width: 40%;
    }

    .submit-button {
      top: 0rem;
      left: 1.5rem;
    }

    .fallen {
      height: 80vh;
    }

    .fisher-list {
      right: 6.5rem;
    }

    .media-media {
      margin-left: 0;
    }

   }
  